body {
    background-color: #272727;
}

/*Header Navbar*/
.navbar {
    background-color: #ada6a6;
    border-bottom: solid #1f5872;
    border-width: 3px;
}
.navbar-brand {
    color: #050301;
    font-size: 250%;
    margin-left: 2%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.navbar-brand:hover {
    color: #050301
}
#navbarText{
    margin-left: 48%;
}
.nav-link {
    color: #050301;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.nav-link:hover {
    color: #1f5872;
    text-decoration: underline;
}

.select {
    display: none;
}
/*END header navbar*/


/*MAIN CONTENT BOX*/
#myphoto {
    float:left;
    padding-right:10px;
    padding-bottom:10px;
}

.container {
    background-color: #ada6a6;
    margin-top: 3%;
    border: solid #1f5872;
    border-width: 3px;
    padding: 2%;
    margin-bottom: 5%;
    line-height: 30px;
    font-size: 18px;
}
.mt-0 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #050301;
}
p{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

hr {
    border: 1px solid #1f5872;
}
/*END content box*/


/*Portfolio Images*/
.card {
    border: 1px solid #050301;
}
.card:hover {
    border: solid #49758a;
    border-width:3px;
    text-decoration: underline; color:#ada6a6;
}
.card-body {
    font-size: 18px;
    background-color: black;
}
.card-text {
    color: #ada6a6;
}


/*Rows on every page*/
.row {
    margin-left:3%;
    padding-top:1.5%;
}
.second-row {
    padding-top: 2%;
}

/*Contact section*/
form {
    margin-left: 15%;
}
.form-control {
    border: solid #1f5872;
    border-width: 1px;
}
.btn {
    background-color: #1f5872;
    border: solid #050301;
    border-width: 1px;
    color: #ffffff;
}
.btn:hover {
    background-color: #49758a;
    color: #ffffff;
}


/*Footer*/
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #ada6a6;
    padding: 13px;
    margin-bottom: 0;
    color: #050301;
    font-size: 12px;
    text-align: center;
    border-top: solid #1f5872;
    border-width: 3px;
}
/*END footer*/


/*980 screen size*/
@media screen and (max-width:980px) {
    .navbar{
        position:static;
    }
    .navbar-toggler{
        color:#050301;
    }
    ul{
        list-style-type:none;
    }
    .card{
        width:288px;
        height:265px;
    }
    .card-two{
        margin-left:50%;
    }
    .card-four{
        margin-left:50%;
    }
    form{
        margin-left:-3%;
    }
}


/*768 screen size*/
@media screen and (max-width:768px) {
    .content{
        margin-left:0px;
    }
    ul{
        list-style-type:none;
    }
    .card-one{
        height:0px;
        width:100%;
    }
    .card-three{
        height:0px;
    }
    form{
        margin-left:-3%;
    }
}


/*640 screen size*/
@media screen and (max-width:640px) {
    .navbar{
        position:static;
    }
    ul{
        list-style-type:none;
    }
    .container{
        width:95%;
        margin-left:auto;
        margin-bottom:15%;
    }
    #myphoto{
        width:100%;
        height:100%;
        margin-left:-3%;
    }
    p{
        flex-direction:column;
    }
    .card-one{
       margin-left:auto;
       margin-right:auto;
       height: 273px;
    }
    .card-two{
        margin-left:auto;
        margin-right:auto;
        padding-top:3%;
     }
     .card-three{
        margin-left:auto;
        margin-right:auto;
        height: 273px;
     }
     .card-four{
        margin-left:auto;
        margin-right:auto;
        padding-top:3%;
     }
     form{
         margin-left:-6%;
     }
}