body {
    background-image: url(../images/background.png);
}

/*Header Navbar*/
.navbar {
    background-color: #ffffff;
    border-bottom: solid #050301;
    border-width: 1px;

}
.navbar-brand {
    color: #050301;
    font-size: 200%;
    margin-left: 15%;
}
.navbar-brand:hover {
    color: #050301
}
#navbarText{
    margin-left: 48%;
}
.nav-link {
    color: #050301;
}
.nav-link:hover {
    color: #a35c00;
}
/*END header navbar*/


/*MAIN CONTENT BOX*/
#myphoto {
    float:left;
    padding-right:10px;
    padding-bottom:10px;
}

.container {
    background-color: #ffffff;
    margin-top: 2%;
    border-style: solid;
    border-width: 1px;
    padding: 2%;
    margin-bottom: 5%;
    line-height: 30px;
}

hr {
    border: 1px solid #050301;
}
/*END content box*/


/*Portfolio Images*/
.card {
    border: 1px solid #050301;
}


/*Rows on every page*/
.row {
    padding: 2.5%;
    margin-left: 0.5%;
}


/*Contact section*/
form {
    margin-left: 15%;
}
.btn {
    background-color: #a35c00;
    border: #050301;
    color: #ffffff;
}
.btn:hover {
    background-color: #ffffff;
    color: #a35c00;
}


/*Footer*/
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #ffffff;
    padding: 13px;
    margin-bottom: 0;
    color: #8d8d8d;
    font-size: 12px;
    text-align: center;
    border-top: solid #050301;
    border-width: 1px;
}
/*END footer*/


/*980 screen size*/
@media screen and (max-width:980px) {
    .navbar{
        position:static;
    }
    .card{
        width:288px;
        height:265px;
    }
    .card-two{
        margin-left:50%;
    }
    .card-four{
        margin-left:50%;
    }
    form{
        margin-left:-3%;
    }
    body {
        color: green;
    }
}


/*768 screen size*/
@media screen and (max-width:768px) {
    .content{
        margin-left:0px;
    }
    .card-one{
        height:0px;
        width:100%;
    }
    .card-three{
        height:0px;
    }
    form{
        margin-left:-3%;
    }

    body{
        color:pink;
    }
}


/*640 screen size*/
@media screen and (max-width:640px) {
    .navbar{
        position:static;
    }
    .container{
        width:100%;
        margin-left:7%;
    }
    .card-one{
       margin-left:14%;
       height: 273px;
    }
    .card-two{
        margin-left:14%;
        padding-top:3%;
     }
     .card-three{
        margin-left:14%;
        height: 273px;
     }
     .card-four{
        margin-left:14%;
        padding-top:3%;
     }
     form{
         margin-left:-3%;
     }
    body{
        color:blue;
    }
}